.nav {
    display: flex;
    /* justify-content: flex-end; */
    flex-wrap: nowrap;
}

.nav a{
    color: #414141;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    border-bottom: 2px solid white;
}
.nav a:hover{
    border-bottom: 2px solid;
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
}

@media screen and (max-width: 420px) {
    .nav a{
        font-size: 15px;  
    }
}



