.portfolioBlock{
    min-height: 80vh;
    background:#f0efef;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title{
    /* border: 1px solid; */
    color: #353535;
    font-family: 'Montserrat', sans-serif;
}

.elements{
    /* border: 1px solid; */
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}