.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #353535;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    border: 1px solid #a8a8a8;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    margin: 30px 30px 0 30px;   
}

.icon{    
    margin-top: 20px;
    width: 80px;
    height: 80px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
.skill:hover{
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease;
}

@media screen and (max-width: 420px) {
  .skill {
    height: 6em;
    width: 6em;  
  }
  .icon{
    width: 50px;
    height: 50px;
}
}