.skillsBlock{
    min-height: 60vh;
    background: #ffffff;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title{
    font-family: 'Montserrat', sans-serif;
    color: #353535;
    margin-top: 20px;
    /* border: 1px solid; */
}

.skills{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}