.footerBlock{
    /* height: 20vh; */
    background:#f0efef;
    font-family: 'Montserrat', sans-serif;
}

.footerContainer{
    flex-direction: column;

}

.connection{
    /* border: 1px solid; */
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

