.footerBlock{
    /* height: 20vh; */
    background:#f0efef;
}

.footerContainer{
    flex-direction: column;

}

.connection{
    /* border: 1px solid; */
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item{
    display: flex;
    
    /* margin-right: 5px; */
    height: 30px;
    width: 30px; 
}